<a href="https://colab.research.google.com/github/lena110200/Class2022-spring/blob/master/requests_gradio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install gradio #api: 개발자로서 다른 서버에 있는 걸 연결해주는. 교통정보, 맛집앱,미세먼지 등 공공데이터- 가져와서
#프로그램속에 포함시킬 수 있도록 해주는 것 /프로그래밍을 하는데 필요한 부품 / JSON의 파일형태로 / REST API : 대표적인 
import gradio as gr
import requests # api서비스에 접속해서 정보 가져오는 
import pandas as pd #dataframe을 만드는

In [ ]:
request.get()#메뉴얼에 있음 #get안에 들어간게 밑에꺼 연결한거 #인터넷 주소를 주면 답을 주는것. 
#rest API : url방식으로 주는것

In [3]:
#이부분이 API인것을 이해 
URL = ('http://apis.data.go.kr/B552584/ArpltnStatsSvc/'#서비스 url . 서비스 해주는곳 
      'getCtprvnMesureSidoLIst?'#구체적 세부 서비스. 시군구별 실시간 . 서비스 이름. ?포함
      'sidoName=서울' #세부항목들 .항목들은 메뉴얼에 적혀 있음 
      '&searchCondition=hour' #두번째부턴 &를 적어줘야 
      '&pageNo=1'
      '&numOfRows=100'
      '&returnType=json' # json의 형태로 
      '&serviceKey=miH%2BZXg85lQy4%2FkmhffvygXDIFiTwisriSLxtyECSzw6hxTVK7yI8QKIOc7mP7LEqCnhBGuj6iW1gZW65dum7A%3D%3D')
#긴 string 
response = requests.get(URL)

In [ ]:
response #200이 나오면 잘 됐다는 뜻

#### http://jsonviewer.stack.hu/ (copy json here to view json) <-- 여기에 복붙하면 구조화된거 볼수있음

In [ ]:
r = response.json() #서울의 정보가 json의 형태로 
r

In [ ]:
print(type(r)) # {key:value} - dict

<class 'dict'>

In [ ]:
items = r['response']['body']['items']
items[0] #list로 되있음. 강남구 만큼이 큰 dict로, 두번째는 강동구가 큰 dict로. list가 채워져있음. 
#0하면 list의 첫번째 
#

{'cityName': '강남구',
 'cityNameEng': 'Gangnam-gu',
 'coValue': '0.2',
 'dataGubun': '',
 'dataTime': '2022-03-27 18:00',
 'districtCode': '02',
 'districtNumSeq': '001',
 'itemCode': '',
 'khaiValue': '',
 'no2Value': '0.005',
 'numOfRows': '10',
 'o3Value': '0.049',
 'pageNo': '1',
 'pm10Value': '16',
 'pm25Value': '4',
 'resultCode': '',
 'resultMsg': '',
 'returnType': 'json',
 'searchCondition': '',
 'serviceKey': '',
 'sidoName': '서울',
 'so2Value': '0.003',
 'totalCount': ''}

In [ ]:
items = r['response']['body']['items']

cityName = [item['cityName'] for item in items] # 25개의 item을 하나하나씩 . item중에 cityname을 value로 넣어라 
pm10Value = [item['pm10Value'] for item in items]
pm25Value = [item['pm25Value'] for item in items]
so2Value = [item['so2Value'] for item in items]
coValue = [item['coValue'] for item in items]
o3Value = [item['o3Value'] for item in items]
no2Value = [item['no2Value'] for item in items]

cityName = pd.Series(cityName) #column에 들어가는 데이터값들 모아 #총 7개의 열 만드는 
#list값들이 pdseries를 통하면 열에 해당하는 값들로 변함 
pm10Value = pd.Series(pm10Value)   
pm25Value = pd.Series(pm25Value)
so2Value = pd.Series(so2Value)
coValue = pd.Series(coValue)
o3Value = pd.Series(o3Value)
no2Value = pd.Series(no2Value)

df = pd.DataFrame({ 'cityName': cityName, 'pm10Value': pm10Value, 'pm25Value': pm25Value, 'so2Value': so2Value, 'coValue': coValue, 'o3Value': o3Value, 'no2Value': no2Value})
#pandas로 엑셀처럼 정리할 것. / dataframe을 pandas의 형태로 만들것/ 엑셀의 열: 값 / 
df

   cityName pm10Value pm25Value so2Value coValue o3Value no2Value
0       강남구        16         4    0.003     0.2   0.049    0.005
1       강동구        16         5    0.002     0.2   0.041    0.005
2       강북구        16         7    0.002     0.2   0.050    0.004
3       강서구        18         6    0.003     0.3   0.050    0.006
4       관악구        15         4    0.002     0.3   0.050    0.007
5       광진구        15         6    0.004     0.2   0.051    0.006
6       구로구        22         2    0.003     0.3   0.046    0.007
7       금천구        12         3    0.003     0.2   0.050    0.008
8       노원구        19         8    0.003     0.3   0.049    0.005
9       도봉구        10         3    0.003     0.2   0.048    0.004
10     동대문구        14         5    0.003     0.2   0.052    0.006
11      동작구                   8    0.003     0.2   0.051    0.006
12      마포구        15         5    0.003     0.3   0.053    0.009
13     서대문구        16         4    0.002     0.3   0.052    0.005
14      서초구        10         2              0.3   0.049    0.005
15      성동구        15         5    0.002     0.2   0.037    0.005
16      성북구        13         4    0.002     0.2   0.049    0.008
17      송파구        18         2    0.003     0.3   0.052    0.009
18      양천구        18         8    0.002     0.3   0.046    0.007
19     영등포구        15         7    0.002     0.3   0.046    0.008
20      용산구        15         6    0.003     0.2   0.045    0.006
21      은평구        12         6    0.002     0.3   0.048    0.009
22      종로구        16         6    0.003     0.3   0.051    0.006
23       중구        10         3    0.003     0.3   0.054    0.005
24      중랑구        14         5    0.003     0.2   0.048    0.007

In [6]:
def test(sidoName):#시도이름 
  URL = ('http://apis.data.go.kr/B552584/ArpltnStatsSvc/'
      'getCtprvnMesureSidoLIst?'
      'sidoName='+sidoName+
      '&searchCondition=hour'
      '&pageNo=1'
      '&numOfRows=100'
      '&returnType=json'
      '&serviceKey=miH%2BZXg85lQy4%2FkmhffvygXDIFiTwisriSLxtyECSzw6hxTVK7yI8QKIOc7mP7LEqCnhBGuj6iW1gZW65dum7A%3D%3D')
  
  response = requests.get(URL)
  r = response.json()
  items = r['response']['body']['items']

  cityName = [item['cityName'] for item in items]
  pm10Value = [item['pm10Value'] for item in items]
  pm25Value = [item['pm25Value'] for item in items]
  so2Value = [item['so2Value'] for item in items]
  coValue = [item['coValue'] for item in items]
  o3Value = [item['o3Value'] for item in items]
  no2Value = [item['no2Value'] for item in items]

  cityName = pd.Series(cityName)
  pm10Value = pd.Series(pm10Value)   
  pm25Value = pd.Series(pm25Value)
  so2Value = pd.Series(so2Value)
  coValue = pd.Series(coValue)
  o3Value = pd.Series(o3Value)
  no2Value = pd.Series(no2Value)

  df = pd.DataFrame({ 'cityName': cityName, 'pm10Value': pm10Value, 'pm25Value': pm25Value, 'so2Value': so2Value, 'coValue': coValue, 'o3Value': o3Value, 'no2Value': no2Value})
  return df

In [ ]:
!pip install gradio

In [ ]:
import gradio as gr

In [ ]:
iface = gr.Interface(test, gr.inputs.Dropdown(['서울', '부산', '대구', '인천', '광주', '대전', '울산', '경기', '강원', '충북', '충남', '전북', '전남', '경북', '경남', '제주', '세종']), outputs=['dataframe'])
iface.launch(debug=True) #궁극적으로 이런 프로그램을 만드는거 #dropdown:이런 입력만 가능하다